<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.csss">
    <script src="//maxcdn.bootstrap.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>

</head>

<body>
    <div class="frame">
<div class="main_frame">
    <div class="left_frame">
       <div class="left_1">
        <div class="left_1_1">
            <img src="images/profile.png"
            width="156px"
            height="142px"
             alt="">
        </div>
        <div class="left_1_2"><%=user.name%></div>
        <div class="left_1_3"><%=user.professsion%></div>
        <div class="left_icons">
           <a href="" class="link_href">
            <div class="icon">
                <img src="icon/Vector.svg" alt="" class="icon_1">
            </div>
           </a>
           <a href="" class="link_href">
            <div class="icon">
                <img src="icon/Vector.svg" alt="" class="icon_1">
            </div>
           </a>
           <a href="" class="link_href">
            <div class="icon">
                <img src="icon/Vector.svg" alt="" class="icon_1">
            </div>
           </a>
           <a href="" class="link_href">
            <div class="icon">
                <img src="icon/Vector.svg" alt="" class="icon_1">
            </div>
           </a>
        </div>
       </div>
       <div class="marginer"></div>
       <div class="left_2"></div>
       <div class="marginer"></div>
       <div class="left_3"></div>
       <div class="marginer"></div>
       <div class="left_4"></div>
       <div class="marginer"></div>
       <div class="left_5"></div>
       <div class="marginer"></div>
    </div>
    <div class="midd_frame"></div>
    <div class="right_frame"></div>
</div>
    </div>
</body>

</html>